<div class="page-header" ng-if="main.admin">
    <h1 class="center-block">Information Management</h1>
</div>

<br>
<ul class="nav nav-tabs" ng-show="main.admin">
    <li role="presentation" ng-click="edit.usernameEdit()"><a href="#">Username</a></li>
    <li role="presentation" ng-click="edit.emailEdit()"><a href="#">Email</a></li>
</ul>
<form ng-if='main.admin' ng-show=edit.showUser ng-submit="edit.updateUsername(newUsername)" name = "edit.updateForm" novalidate>
    <label>Username:</label>
    <input type="text" class = "form-control" name = "newUsername" placeholder="Please provide a new Username" ng-model="newUsername" ng-minlength="3" ng-maxlength="25" required>
    <button class="btn btn-primary" type="submit">Update</button>

</form>

<div ng-show="!main.admin">
    <div class="alert alert-danger">Access Denied! You have no permission to access this page</div>
</div>