<div class="page-header" >
	<h1>Available shifts</h1>
	<div class="container">
		<div class="row">
			<table class="table">
				<thead>
				<tr>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
					<th>Sunday</th>
				</tr>
				<tr>
					<td class="card" data-id="0">7/11</td>
					<td>Costco</td>
					<td>Woolies</td>
					<td>Starbucks</td>
					<td>Servo</td>
					<td>Shell</td>
					<td>Tobacoonist</td>
				</tr>
				</thead>
			</table>

			<h1>Your shifts</h1>
			<div class="container">
				<div class="row">
					<table class="table">
						<thead>
						<tr>
							<th>Monday</th>
							<th>Tuesday</th>
							<th>Wednesday</th>
							<th>Thursday</th>
							<th>Friday</th>
							<th>Saturday</th>
							<th>Sunday</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>